@model TussenTijdProject.Client.Models.CarModelViewModel
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@Model.Brand</h3>
            <h6 class="card-subtitle">@Model.Model</h6>
            <div class="row">
             
                <div class="col-lg-7 col-md-7 col-sm-6">
                   
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Brand</td>
                                    <td>@Model.Brand</td>
                                </tr>
                                <tr>
                                    <td>Model</td>
                                    <td>@Model.Model</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>@Model.CarType</td>
                                </tr>
                                <tr>
                                    <td>Manual</td>
                                    <td> @if (Model.IsManual)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td> Heat Pump</td>
                                    <td> @if (Model.TechnicalSpecs.IsHeatPump){
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                    </td>
                                </tr>
                                
                                
                                @if(Model.TechnicalSpecs.RealRange != 0)
                                {
                                    <tr>
                                        <td>Real Range</td>
                                        <td>@Model.TechnicalSpecs.RealRange</td>
                                    </tr>
                                }
                                <tr>
                                    <td>Real Range</td>
                                    <td>@Model.TechnicalSpecs.RealRange</td>
                                </tr>
                                @if (Model.Fiscality.ListPriceExclVAT != 0)
                                {
                                    <tr>
                                        <td>List Price Excl VAT</td>
                                        <td>@Model.Fiscality.ListPriceExclVAT</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.CO2 != 0)
                                {
                                    <tr>
                                        <td>CO2</td>
                                        <td>@Model.TechnicalSpecs.CO2</td>
                                    </tr>
                                }

                                @if (Model.Fiscality.BenefitInKindPerMonth != 0)
                                {
                                    <tr>
                                        <td>Benefit In Kind Per Month</td>
                                        <td>@Model.Fiscality.BenefitInKindPerMonth</td>
                                    </tr>
                                }

                                @if (Model.Fiscality.AmountUpgradeInclVAT != 0)
                                {
                                    <tr>
                                        <td>Amount Upgrade Incl VAT</td>
                                        <td>@Model.Fiscality.AmountUpgradeInclVAT</td>
                                    </tr>
                                }

                                @if (Model.Fiscality.AmountDowngradeInclVAT != 0)
                                {
                                    <tr>
                                        <td>Amount Downgrade Incl VAT</td>
                                        <td>@Model.Fiscality.AmountDowngradeInclVAT</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.FuelConsumption != 0)
                                {
                                    <tr>
                                        <td>Fuel Consumption</td>
                                        <td>@Model.TechnicalSpecs.FuelConsumption</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.EVConsumption != 0)
                                {
                                    <tr>
                                        <td>EV Consumption</td>
                                        <td>@Model.TechnicalSpecs.EVConsumption</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.BatteryCapacity != 0)
                                {
                                    <tr>
                                        <td>Battery Capacity</td>
                                        <td>@Model.TechnicalSpecs.BatteryCapacity</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.Horsepower != 0)
                                {
                                    <tr>
                                        <td>Horsepower</td>
                                        <td>@Model.TechnicalSpecs.Horsepower</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.MaxTowingCapacity != 0)
                                {
                                    <tr>
                                        <td>Max Towing Capacity</td>
                                        <td>@Model.TechnicalSpecs.MaxTowingCapacity</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.MaxDCCharging != 0)
                                {
                                    <tr>
                                        <td>Max DC Charging</td>
                                        <td>@Model.TechnicalSpecs.MaxDCCharging</td>
                                    </tr>
                                }

                                @if (Model.TechnicalSpecs.MaxACCharging != 0)
                                {
                                    <tr>
                                        <td>Max AC Charging</td>
                                        <td>@Model.TechnicalSpecs.MaxACCharging</td>
                                    </tr>
                                }

                                @if (Model.ExpectedDeliveryPeriodInMonths != 0)
                                {
                                    <tr>
                                        <td>Expected Delivery Period In Months</td>
                                        <td>@Model.ExpectedDeliveryPeriodInMonths</td>
                                    </tr>
                                }

                                <tr>
                                    <td>Remarks</td>
                                    <td>@Model.Remarks</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>