@model IEnumerable<TussenTijdProject.Client.Models.CarsOverView>




<div class="container text-center">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    @*  <img src="..." class="card-img-top" alt="..."> *@
                    <div class="card-body">
                        <h5 class="card-title">@car.Brand: @car.Model</h5>
                        <p class="card-text">Type Car: @car.Category</p>
                        <p class="card-text">Sort: @car.Brand</p>
                        <p class="card-text">Type Car: @car.FuelType</p>
                        <p class="card-text">Sort: @car.CarType</p>
                        <p class="card-text">Expected delivery: @car.ExpectedDeliveryPeriodInMonths Month</p>
                        <p class="card-text">
                            Gearbox: @if (car.IsManual)
                            {
                                <span>Manual</span>
                            }
                            else
                            {
                                <span>Automatic</span>
                            }

                        </p>
                        <a  class="btn btn-primary" asp-action="Details" asp-route-id="@car.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
